.titul {
    margin-bottom: 10px;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 42px */
    text-transform: uppercase;
    text-align: center;
}

.titul_left {
    text-align: left;
}

.titul__decor {
    width: 50px;
    border-bottom: solid 3px $accent-color;
    position: absolute;
    left: 48.5%;
    margin-bottom: 24px;
}

.titul__decor_left {
    width: 50px;
    border-bottom: solid 3px $accent-color;
    position: absolute;
    left: 4.2%;
    margin-bottom: 24px;
}

.section__description {
    text-align: center;
    margin-top: 37px;
}

.section__description_left {
    text-align: left;
    margin-top: 37px;
}

.description {
    margin-top: 10px;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.accent {
    color: $accent-color;
}