.about {
    padding-top: 80px;
    padding-bottom: 80px;

    &__wrapper {
        @include flex-row-sb-aic;
        gap: 64px;
    }

    &__img {
        width: 535px;
        height: 359px;
    }
}

.about__btns {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

.about__btn {
    background: $accent-color;
    border: 2px solid $accent-color;
    padding: 16px 24px; 
    color: $contrast-color;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
}

.about__btn:hover {
    background: $contrast-color;
    color: $accent-color;
    transition: 0.5s;
}

.about__btn_gray {
    background: #E6E6E6;
    border: 2px solid #E6E6E6;
    padding: 16px 24px;
    color: #222;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%; /* 16.8px */
    text-transform: uppercase;
}

.about__btn_gray:hover {
    color: #222222;
    transition: 0.5s;
}
